bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
app.db
app.db
app.db
app.db-shm
AuthenticationSolution.sln.DotSettings.user
app.db-wal
.vscode/settings.json
.idea/.idea.AuthenticationSolution/.idea/.gitignore
.idea/.idea.AuthenticationSolution/.idea/encodings.xml
.idea/.idea.AuthenticationSolution/.idea/indexLayout.xml
.idea/.idea.AuthenticationSolution/.idea/vcs.xml
